body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  flex-direction: column;
}

#main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 1500px;
  height: 900px;
  background-color: red;
  border-radius: 25px;
  margin-top: 25px;
}

.game {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

#container {
  display: inline-grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  width: 550px;
  height: 550px;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#slider {
  width: 200px;
  height: 20px;
}

.value {
  margin-left: 8px;
  font-size: 22px;
}

h1 {
  font-family: 'Damion', cursive;
  font-weight: 600;
  color: gold;
  font-size: 62px;
  margin-top: 25px;
  margin-bottom: 0;
}

.adjust {
  font-size: 22px;
  margin-right: 8px;
}

p {
  color: lightgray;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}