body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

#main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 542px;
  background-color: red;
  border-radius: 25px;
}

#container {
  display: inline-grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  width: 350px;
  height: 350px;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#slider {
  width: 100px;
  height: 5px;
}

.value {
  font-size: 14px;
  margin-left: 8px;
}

h1 {
  font-family: 'Damion', cursive;
  font-weight: 600;
  color: gold;
  font-size: 42px;
  margin-top: 0;
  margin-bottom: 0;
}

.adjust {
  margin-right: 8px;
}

p {
  color: lightgray;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}